Данный код считывает данные из директории `pred_dir` c именами `predictions_*`, где `*` обозначает номер предсказания от `0` до `n`. Значения скоров для каждого сайта усредняются и в переменную `scores` записываются полученные результаты.

In [16]:
import pandas as pd
import numpy as np
from collections import Counter

In [17]:
pred_dir = 'D:/IB_spring_project/5fer/1ns_res/predictions/'

In [20]:
n = 20
residue_dict = {}

for i in range(n):
    df = np.array(pd.read_csv(pred_dir+'predictions_'+str(i)+'.csv'))
    for j in df:
        if j[7] in residue_dict:
            residue_dict[j[7]][0] += 1
            residue_dict[j[7]][1] += j[2]
        else:
            residue_dict[j[7]] = [1, j[2]]
            
for key in residue_dict.keys():
    residue_dict[key] = residue_dict[key][1]/residue_dict[key][0] 
    
sort_r_dict = {}
sort_r_keys = reversed(sorted(residue_dict, key=residue_dict.get))

for w in sort_r_keys:
    sort_r_dict[w]=residue_dict[w]
    
scores = pd.DataFrame(sort_r_dict.values(), index=sort_r_dict.keys(),columns=['mean_score'])

In [22]:
scores

                                                    mean_score
A_20_PHE;A_21_LYS;A_32_PHE;A_33_CYS                   0.506292
A_20_PHE;A_30_HIS;A_31_ASN;A_52_GLN                   0.260061
A_10_GLU;A_11_LEU;A_12_SER;A_13_CYS;A_20_PHE          0.214533
A_36_CYS;A_37_LEU;A_40_THR;A_51_PRO                   0.208710
B_48_TYR;B_49_LEU;B_50_CYS;B_51_PRO;B_53_CYS;B_...    0.196173
...                                                        ...
A_1_MET;A_2_ALA;A_3_GLU;B_3_GLU;B_4_LEU               0.010098
A_70_CYS;A_71_ASN;A_72_VAL;A_74_GLU;A_75_GLN;B_...    0.010040
A_69_LEU;A_70_CYS;A_71_ASN;A_72_VAL;A_73_VAL;A_...    0.010022
B_13_CYS;B_20_PHE;B_31_ASN;B_32_PHE;B_33_CYS;B_...    0.010015
A_8_ALA;A_11_LEU;A_19_PRO;A_76_PHE;A_77_LEU           0.010014

[778 rows x 1 columns]